[Image Sequence]
	# Where to find an input image sequence
	Path = /if-tracking/output/preprocessing/1418_MIP
	
	# What is the name of the sequence
	Filename = 1418_MIP.tif

[Output]
    # All output will be saved in the folder 'output' and then accordingly to the script
    # If the folder doesn't exist it will be created.
    Folder = 1418_MIP
