[Image Sequence]
    # Where to find an input image sequence
    Path = /if-tracking/example/
    
    # What is the name of the sequence
    Filename = Example.tif

[Output]
    # All output will be saved in the folder 'output' and then accordingly to the script
    # If the folder doesn't exist it will be created.
    Folder = Example

