[Search]
    # How deep (number of nodes) should we search in a graph
    NodesCutoff = 2
    # Maximum length of filaments we are interested in
    LengthThresh = 100
    # Cost threshold value
    CostThresh = 0.000000001

[Filter]
    # The filaments shorter than this value (px) will be skipped
    MinLength = 15
    # If two filaments intersect and intersection length if longer than this value (px), one filaments (more curved) will be skipped
    MaxOverlap = 10
    # The filaments which are closer than this distance (px) to the border of the image will be skipped
    Border_Size = 20


