[Gradient Vector Flow]
    # Regularization parameter
    mu = 0.05

    # Number of iteration: default is 10
    iterations_number = 10


[Parallel Computing]
    # True/False
    enabled = True

    # processors number, 0 means use all processors, any other number will indicate number of processors
    processors_number = 10
