[Initialization]
    # Path to a zip archive with initial positions of the filaments
    # If this line is commented, software will take the latest folder from generated filaments folder
    # Path = /path/to/filaments.zip


[Parallel Computing]
    Enabled = True
    Processors_Number = 7


[Evolution]
    # Default alpha and beta Alpha = 0.5, Beta = 0.5
    Alpha = 2.0
    Beta = 10.0

    Dt = 0.01
    Maximum_Iterations = 1000
    Minimum_Shift = 1.0e-9

    Kernel_Size = 11
    Kernel_Sigma = 2.5

    Discretization_Step = 1.0
